table, th, td {
    border: 1px solid;
    border-collapse: collapse
  }
  table {
    width: 80%; /* weboldal szélessége; */
    background-color: rgb(11, 165, 255); /* háttérszín */
    color:rgb(252, 233, 233);/* betűszín */
    font-family: 'Courier New';
    font-size: 30px;

}
th {
    background-color: rgb(0, 5, 68);
}
#keses{
  background-color: red;
}
.paratlan_sor{
  background-color: blue;
}